{% extends "base.html" %}
{% block title %}Detect | Deepfake Detector{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card shadow-lg border-0 p-4" style="max-width: 600px; width: 100%;">
        <div class="card-body text-center">
            <h2 class="fw-bold text-primary mb-3">Deepfake Detection</h2>
            <p class="text-muted mb-4">Upload a video and let our system analyze it.</p>

            <form method="POST" enctype="multipart/form-data" id="detectForm">
                {% csrf_token %}
                <div id="fileInputs">
                    <input type="file" name="videos" accept="video/*" class="form-control mb-2" multiple required>
                </div>
                <button type="button" class="btn btn-secondary" onclick="addInput()">+ Thêm file</button>
                <button type="submit" class="btn btn-primary w-100 mt-3">Detect</button>
            </form>


            {% if results %}
            {% for r in results %}
            <div class="mt-4">
                <video controls autoplay loop class="w-100 rounded border" style="max-height:300px;">
                    <source src="{{ r.file_url }}" type="video/mp4">
                </video>
                <h4 class="mt-3">
                    Result:
                    <span class="{% if r.result == 'Deepfake' %}text-danger fw-bold{% else %}text-success fw-bold{% endif %}">
        {{ r.result }}
      </span>
                    <small class="text-muted">(Confidence: {{ r.prob }}%)</small>
                </h4>
            </div>
            {% endfor %}
            {% endif %}
            {% if zip_url %}
              <a href="{{ MEDIA_URL }}{{ zip_url }}" class="btn btn-primary">
                Tải kết quả ZIP
              </a>
            {% endif %}

        </div>
    </div>
</div>

<script>
    function addInput() {
      const div = document.getElementById("fileInputs");
      const input = document.createElement("input");
      input.type = "file";
      input.name = "videos";
      input.accept = "video/*";
      input.className = "form-control mb-2";
      input.multiple = true;
      div.appendChild(input);
    }
    document.getElementById("detectForm").addEventListener("submit", function(event) {
        const inputs = document.querySelectorAll('input[name="videos"]');
        let fileCount = 0;
        inputs.forEach(input => fileCount += input.files.length);

        if (fileCount > 10) {
            alert("Bạn chỉ có thể upload tối đa 10 file!");
            event.preventDefault();
            return;
        }
    });
</script>
{% endblock %}
